@import "_nullstyle";

// миксины
@mixin anim($time, $delay) {
  -webkit-transition: all $time ease $delay;
  -moz-transition: all $time ease $delay;
  -ms-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  transition: all $time ease $delay;
}
@mixin anim_cubic($time, $delay) {
  -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
  transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($num) {
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -webkit-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}
@mixin skew($num) {
  -webkit-transform: skewX($num);
  -moz-transform: skewX($num);
  -ms-transform: skewX($num);
  -o-transform: skewX($num);
  transform: skewX($num);
}
@mixin cnt($h) {
  display: flex;
  flex-direction: column;
  height: $h;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}
@mixin tr($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@mixin flexorder($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// импорт шрифтов
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

// подключение шрифтов через переменную
$fontfamily: "Lato";

// готовые классы
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    padding: 100px 0px 0px 0px;
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 5px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: transparent;
      }
      &.slick-active {
        button {
          background-color: #a9afb3;
        }
      }
    }
    @media (max-width: 1100px) {
      padding: 50px 0px 0px 0px;
    }
    @media (max-width: 767px) {
      padding: 30px 0px 0px 0px;
    }
  }
}

// оболочка
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.loaded {
  }
}

// основная сетка ограничения по размерам
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 15px;
}

// хедер стили
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
  }
  &__menu {
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    @include tr(-50%, 0px, 0px);
  }
  @media (max-width: 767px) {
    top: 15px;
  }
}

.menu {
  &__icon {
  }
  &__body {
  }
  &__list {
    display: flex;
    li {
      position: relative;
      padding: 0px 37.5px;
      &:nth-child(2) {
        padding: 0px 110px 0px 37.5px;
      }
      &:nth-child(3) {
        padding: 0px 37.5px 0px 110px;
      }
      &::after {
        content: "";
        width: 2px;
        height: 2px;
        background-color: #4d4959;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1.5px;
      }
      &:nth-child(2),
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  &__link {
    font-family: "Lato";
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    color: #4d4959;
    &:hover {
      color: #64c29e;
    }
  }
  @media (max-width: 767px) {
    &__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      background-color: #4d4959;
      padding: 150px 0px 20px 0px;
      @include tr(0px, -100%, 0px);
      @include anim(0.3s, 0s);
      &.active {
        @include tr(0px, 0px, 0px);
      }
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        padding: 0px 0px 45px 0px;
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0px 0px 45px 0px;
          &::after {
            display: block;
          }
        }
        &:last-child {
          padding: 0px;
        }
        &::after {
          width: 4px;
          height: 4px;
          background-color: #fff;
          right: 50%;
          top: 40px;
          margin: 0px -2px 0px 0px;
        }
      }
    }
    &__link {
      color: #fff;
      font-size: 20px;
    }
  }
}

.icon-menu {
  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      @include anim(0.3s, 0s);
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4d4959;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        @include scale(0);
        background-color: #fff;
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}

// основной блок
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.content {
}
.container {
}
.generation {
  background-color: #f7f7f7;
  padding: 120px 0px;
  &__block {
  }
  @media (max-width: 900px) {
    padding: 80px 0px;
  }
  @media (max-width: 600px) {
    padding: 30px 0px;
  }
}
.block {
  text-align: center;
  &__icon {
    margin: 0px 0px 30px 0px;
  }
  &__title {
    font-family: "Lato";
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    margin: 0px 0px 20px 0px;
  }
  &__text {
    font-family: "Lato";
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;
      &::after {
        content: "";
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb;
      }
    }
  }
  @media (max-width: 1500px) {
    &__text {
      &_j {
        &::after {
          margin: 15px auto 0 auto;
        }
      }
    }
  }
}

.brands {
  &_rev {
    .brands__column {
      @include flexorder(1);
      &_b {
        @include flexorder(2);
      }
    }
  }
  &_last {
  }
  &__row {
    @include flexbox();
  }
  &__column {
    flex: 0 1 33.333%;
    &_b {
      flex: 0 1 66.667%;
    }
  }
  &__item {
  }
  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0px 0px 0px -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      z-index: 5;
    }
  }
  &__image {
    padding: 0px 0px 38% 0px;
  }
  @media (max-width: 1500px) {
    &__content {
      padding: 40px 35px 30px 35px;
    }
  }
  @media (max-width: 1100px) {
    &_last {
      .brands__column {
        &:nth-child(1) {
          @include flexorder(2);
        }
        &:nth-child(2) {
          @include flexorder(1);
        }
        &:nth-child(3) {
          @include flexorder(3);
        }
      }
    }
    &__row {
      flex-direction: column;
    }
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
    @include anim(0.3s, 0s);
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    span {
      font-family: Lato;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.8px;
      color: #ffffff;
      margin: 10px 0px 0px 0px;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1100px) {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}

// блок слайдер
.slider {
  background-color: #f7f7f7;
  padding: 120px 0px 60px 0px;
  &__body {
  }
  &__item {
    text-align: center;
  }
  &__icon {
    margin: 0px 0px 35px 0px;
  }
  &__title {
    margin: 0px 0px 20px 0px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
    span {
      font-weight: 300;
      color: #848789;
    }
  }
  &__text {
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
  }
}

// БЛОК МАГАЗИН
.shop {
  &__body {
    @include flexbox();
  }
  &__column {
    flex: 0 1 16.666%;
    &_b {
      flex: 0 1 33.333%;
    }
  }
  &__block {
  }
  &__footer {
    padding: 75px 0px;
    text-align: center;
    background-color: #282f35;
  }
  &__btn {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    padding: 0px 60px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.49);
  }
  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &:first-child {
        flex: 1 1 100%;
      }
      &:last-child {
        flex: 1 1 100%;
      }
    }
    &__footer {
      padding: 50px 0px;
    }
    &__btn {
      padding: 0px 30px;
    }
  }
}

.block-shop {
  height: 100%;
  &__row {
    @include flexbox();
  }
  &__column {
    flex: 0 1 50%;
  }
  &__item {
    height: auto;
    padding: 0px 0px 50% 0px;
    &_b {
      padding: 0px 0px 200.5% 0px;
    }
    &_l {
      padding: 0px 0px 100% 0px;
    }
  }
}

// БЛОК ПОДПИСАТЬСЯ НА РАССЫЛКУ
.subscribe {
  &__body {
    padding: 110px 0px;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }
  &__logo {
    margin: 0px 0px 39px 0px;
  }
  &__label {
    color: #848789;
    font-family: "Lato";
    font-size: 24px;
    font-style: italic;
    margin: 0px 0px 35px 0px;
  }
  &__form {
    @include flexbox();
  }
  &__input {
    flex: 1 1 auto;
    padding: 0px 8px 0px 0px;
    .input {
      width: 100%;
      height: 69px;
      background-color: #ffffff;
      border: 1px solid #d3d7d9;
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
      color: #929292;
      padding: 0px 28px;
      &.focus {
        font-style: normal;
        color: #333;
      }
      &.err {
        border: 1px solid red;
      }
    }
  }
  &__button {
    flex: 0 0 126px;
  }
  &__bnt {
    width: 100%;
    height: 69px;
    background-color: #64c29e;
    font-family: "Lato";
    line-height: 69px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
  }
  @media (max-width: 750px) {
    &__body {
      padding: 50px 0px;
    }
  }
  @media (max-width: 500px) {
    &__form {
      display: block;
    }
    &__input {
      padding: 0px 0px 8px 0px;
    }
  }
}
.input {
}

// FOOTER
.footer {
  background-color: #f7f7f7;
  padding: 100px 0px;
  &__row {
    @include flexbox();
    align-items: center;
  }
  &__column {
    flex: 0 1 33.333%;
  }
  &__address {
    font-family: "Lato";
    font-size: 14px;
    color: #848789;
    line-height: 18px;
    font-style: italic;
    p {
      &:first-child {
        font-weight: 700;
        font-style: normal;
      }
    }
  }
  &__social {
  }
  &__dev {
  }
  @media (max-width: 1100px) {
    padding: 50px 0px;
  }
  @media (max-width: 600px) {
    &__row {
      flex-direction: column;
      text-align: center;
      padding: 30px 0px;
    }
    &__address {
      padding: 0px;
    }
    &__social {
      margin: 15px 0px;
    }
  }
}

.social {
  @include flexbox();
  justify-content: center;
  align-items: center;
  &__link {
    margin: 0px 7.5px;
  }
}
.dev {
  @include flexbox();
  justify-content: flex-end;
  align-items: center;
  &__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding: 0px 9px 0px 0px;
  }
  & __icon {
  }
}
